/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');


/* css reset */
* {
  box-sizing: border-box;
  vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
  margin: 0;
  text-decoration: none;
}



/* css variables */
:root {
  /* pallete colors(dark to light):
    #03045E
    #023E8A
    #0077B6
    #0096C7
    #00B4D8
    #48CAE4
    #90E0EF
    #ADE8F4
    #CAF0F8
  */
  /* color pallet */
  --primary: #084a83;
  --secondary: #539ddb;
  --trinary: #c6e5f3;
  --dark-gray: 	#2c3434;
  --gray: #4c545c;
  --light-gray: #4c545c;
  --bg-color: white; 
}



body {
  background-color: var(--bg-color);
  font-family: 'Roboto', sans-serif;
}

ul{
  list-style-type: none;
}


  /* navbar */
  
  .navbar{
      /* background-color: var(--trinary); */
      
      /* padding: 0 10px; */
      /* margin-top: 10px; */
      /* border-radius: 7px; */
  }

  a, p {
    color: var(--primary);
  } 
/* 
  .navbar  li{
    display: inline-block;
    padding: 20px;
  } */

  .navbar li a:hover{
    color: var(--secondary);
  }
  @media (max-width:767px){
    .menu-bar{
      flex-direction: column;
      background-color: var(--trinary);
      border-radius: 15px;
      box-shadow: 5px 2px 5px #47bafc6b;
    }
    .menu-bar li{
      padding: 10px;
    }
  }
 
/* 
  button{
    padding: 10 15px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
  }

  button:hover{
     background-color: var(--secondary);   
  } */
  
  .logo{
    height:40px;
  }

  /* todo: need to fill container */
  .footer{
    /* position: absolute;
    bottom: 0; */
    /* display: blo; */
  }


  .color-primary{
    color: var(--primary);
  }
  .color-primary-hover:hover {
    color: var(--primary);
  }

  .color-secondary{
    color: var(--secondary);
  }

  .color-secondary-hover:hover{
    color: var(--secondary);
  }

  .color-trinary{
    color: var(--trinary);
  }

  .color-trinary-hover:hover{
    color: var(--trinary);
  }

  .bg-white{
    background-color: var(--bg-color);
  }


  /* product-list */
  .product-list{
    

  }
  .list-item-product{
    text-align: center;
  }
  .list-item-product img{
    max-height: 10rem;
    max-width: 10rem;
  }


  /* product */
  .product {
    background-color: white;
    /* color: black; */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 15px;
    margin: 15px;
  }

  @keyframes change-bg {
    from {background-color: var(--bg-color);}
    to {background-color: var(--trinary);}
  }

  .product:hover{
    background-color: var(--trinary);
    animation-name: change-bg;
    animation-duration: 0.3s;
  }




/* search */

  .search-bar{
    border-bottom: 1px var(--primary) solid;
    background-color: var(--bg-color);
  }

  @keyframes change-bottom-border {
    from {
      border-bottom: 1px var(--primary) solid;
    }
    to {
      border-bottom: 3px var(--primary) solid;
    }
  }

  .search-bar:focus{
    border-bottom: 3px var(--primary) solid;
    animation-name: change-bottom-border;
    animation-duration: 0.1s;
  }



  /* hamburger */

  #hamburger-checkbox{
    display: none;
  }
  .hamburger-button div{
    width: 30px;
    height: 4px;
    margin: 4px 0;
    background-color: var(--primary);
    border-radius: 2px;
    transition: 0.2s;
  }

  .hamburger-button{
    cursor: pointer;
  }

  #hamburger-checkbox:checked + label div:first-child{
    transform: translateY(4px) rotate(45deg);
  }

  #hamburger-checkbox:checked + label div:nth-child(2){
    display: none;
  }

  #hamburger-checkbox:checked + label div:last-child{
    transform: translateY(-4px) rotate(-45deg);
  }



  .nav-icons p{
    font-size: 11px;
    padding: 6px 0;
  }


  /* @media (min-width:768px){
    .nav-icons p:last-child{
      padding-left: 10px;
    } 
  } */


  /* carousel */

    .carousel-image{
    /* height:100%; */
    max-width: 95%;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
    border-radius: inherit;
  }


  .carousel{
    position: relative;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  

  .arrow{
    cursor: pointer;
    position: absolute;
    top: 45%;
    background-color: rgba(0, 0, 0, 0.333);
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.2);
  }
  .arrow:hover{
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .arrow:hover > i{
    color: var(--bg-color);
  }

  .arrow i{
    color: rgba(255, 255, 255, 0.534);
  }

  .left-arrow{
    border-radius: 0px 5px 5px 0px;
    left: 0;
  }

  .right-arrow{
    border-radius: 5px 0px 0px 5px;
    right: 0;
  }

  /* arrow click animation */
  @keyframes arrow-click{
    0%{transform: scale(1);}
    50%{transform: scale(0.6);}
    100%{transform: scale(1); }
  }
  @keyframes arrow-unclick{
    0%{transform: scale(1);}
    50%{transform: scale(0.6);}
    100%{transform: scale(1); }
  }

  .arrow-checkbox:checked + label i{
    animation: arrow-click 0.2s;
  }
  .arrow-checkbox:not(:checked) + label i{
    animation: arrow-unclick 0.2s;
  }
  
  .carousel-tabs{
    position: absolute;
    bottom:0;
  }

  .carousel-tabs li{
    display: inline-block;
  }
  
  .carousel-tabs i{
    color: var(--bg-color);
  }



  /* loader */

  .center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }


  .loader {
    content: " ";
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4.5px solid var(--primary);
    border-color: var(--primary) transparent var(--primary) transparent;
    animation: loader 0.8s linear infinite;
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  /* product page */

  .product-page-image{
    max-width: 90%;
    max-height: auto;
  }

  .product-page-title{
    font-size: 200%;
    font-weight: bold;

  }
  .product-page-price{
    font-size: 130%;
    font-weight: bold;

  }
  .product-page-input{
    background-color: var(--bg-color);
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    width: 4rem;
    height: 2.5rem;
    color: var(--primary);
    border-color: var(--primary);
  }

  .product-page-button{
    background-color: var(--primary);
    color: var(--bg-color);
    border-radius: 1.5rem;
    width: 7rem;
    height: 2.5rem;
  }
  .product-page-button:hover{
    background-color: var(--secondary);
    
  }
  .product-page-button:active{
    background-color: var(--trinary);
    
  }


  /* cart */



  .checkout-box{
    border: solid var(--primary);
    border-width: 1px;
    background-color: var(--bg-color);
    max-width: 25rem;

  }


  .cart-bar{
    background-color: var(--primary);
    max-height: 1.5rem;
  }
  .cart-bar p{
    color: var(--bg-color);
  }

  .cart-image{
    height: 100%;
    max-width: 100%;
    object-fit: contain;
  }



  .cart-section{
    max-height: 7rem;
  }



  .border{
    border: solid var(--primary);
    border-width: 1px;
    background-color: var(--bg-color); 
    color: var(--primary);
  }


  .hidden{
    display: none;
  }


  ::placeholder{
    color: var(--secondary);
  }

  .white{
    color: var(--bg-color);
  }

  .link-button{
    cursor: pointer;
  }



  .button-loader {
    margin: auto;
    width: 50%;
    padding: 10px;
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4.5px solid var(--bg-color);
    border-color: var(--bg-color) transparent var(--bg-color) transparent;
    animation: loader 0.8s linear infinite;
  }

  #dark-mode-toggle{
    cursor: pointer;
    background-color: var(--bg-color);
  }

  .underline{
    text-decoration: underline;
  }

  .height-quater{
    height: 25%;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--trinary);
    text-align: center;
  }
